@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0F25;
  --foreground: #E0E6ED;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/*
.btn-traxle {
  @apply bg-traxle-gradient text-white font-bold py-3 px-6 rounded-lg shadow-lg transition-all hover:-translate-y-1;
}
*/
/* Yüzen Nesne Animasyonu (Floating Animation) */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 7s ease-in-out infinite;
  animation-delay: 2s; /* Bu biraz daha geç başlasın */
}